* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy]{
    background-image: url('../imgs/cidade.png');
    position: relative;
    border: 0px solid dodgerblue;
    height: 700px; 
    width: 1244px;
    margin: 15px; 
    overflow: hidden; /*qualquer elemento que fique fora da div vai ficar escondido*/
}

.passaro{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    /* bottom: 50%; */
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 1px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100; /* ficar na frente dos outros elementos */
}
